body {
  margin: 0;
  font-size: 25px;
  font-family: 'BlackHouse';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'BlackHouse';
  src: local('BlackHouse'), url(./fonts/BlackHouseScript.otf) format('opentype');
}
